@font-face{
	font-family: htt1;
	font-display: swap;
	src: url("../fonts/htt1.woff2") format("woff2"), url("../fonts/htt1.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: htt3;
	font-display: swap;
	src: url("../fonts/htt3.woff2") format("woff2"), url("../fonts/htt3.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: htt;
	font-display: swap;
	src: url("../fonts/htt.woff2") format("woff2"), url("../fonts/htt.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
